# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea/
.env


# Include info.md file but not other files
!static/
static/*

!static/images/
static/images/*

!static/images/info.md


# Dependency directories (remove the comment below to include it)
vendor/

# Include info.md file but not other files
!media/
media/*

!media/qrcode/
media/qrcode/*

!media/qrcode/info.md